KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="add",  ENV{SYSTEMD_WANTS}+="usb-mount@%k.service"

KERNEL=="sd[a-z][0-9]", SUBSYSTEMS=="usb", ACTION=="remove",  RUN+="/bin/systemctl stop usb-mount@%k.service"

KERNEL=="sd[a-z]", SUBSYSTEMS=="usb", ACTION=="add",  ENV{SYSTEMD_WANTS}+="usb-mount@%k.service"

KERNEL=="sd[a-z]", SUBSYSTEMS=="usb", ACTION=="remove",  RUN+="/bin/systemctl stop usb-mount@%k.service"

SUBSYSTEMS=="usb"  ACTION=="add" RUN+="/lib/rdk/usbpublish.sh add"
SUBSYSTEMS=="usb"  ACTION=="remove" RUN+="/lib/rdk/usbpublish.sh remove"



