[Unit]
Description=Bind mount volatile /var/lib
Documentation=man:hier(7)
Documentation=http://www.freedesktop.org/wiki/Software/systemd/APIFileSystems
RequiresMountsFor=/opt /var
ConditionPathIsReadWrite=/opt
ConditionPathExists=/var/lib
DefaultDependencies=no
After=nvram.service
Requires=nvram.service
Conflicts=umount.target

[Mount]
What=/opt
Where=/var/lib
Options=bind

[Install]
WantedBy=local-fs.target

